.budget-item {
  padding: 20px;
}

.budget-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.category-label {
  font-size: 16px;
  color: grey;
}

.category-title {
  font-weight: 700;
  text-transform: capitalize;
}

.budget-remaining h4,
.budget-total h4 {
  font-size: 20px;
  font-weight: 500;
}

.budget-total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.edit-funds input[name="amount"] {
  width: 5rem;
}
