.budget-item {
  position: relative;
  padding: 20px;
}

.budget-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.category-label {
  font-size: 16px;
  color: grey;
}

.category-title {
  font-weight: 700;
  text-transform: capitalize;
}

.budget-funds {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.edit-funds input[name="amount"] {
  width: 5rem;
}
