header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2.5rem;
  background-color: black;
  padding: 25px;
}

.header-logo {
  color: white;
}

.nav-links {
  display: flex;
  flex-grow: 2;
  justify-content: space-around;
}

.nav-link {
  list-style: none;
  margin: 15px;
}

.nav-link a {
  color: white;
  text-decoration: none;
}

.nav-link a.active {
  color: cyan;
  text-decoration: underline;
}
